# Ignore environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environments
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/